@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --color-midnight: #0D0D0D;
    --color-crimson: #9E2A2B;
    --color-broken-white: #EAE6E1;
    --font-gloock: 'Gloock', serif;
    --font-nm: 'Raleway', serif;
}


.borderNav {
    --border-width: 6px;
    --alpha: 0.15;
    --spotlight: radial-gradient(
        #f70000,transparent ,transparent
    );
    overflow: hidden;
}


.borderNav::before {
    content:"";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: var(--spotlight);
    width: 400px;
    height: 400px;
    transition: 0.5s, top 0s, left 0s;
}

.borderNav::after {
    --alpha: 0.5;
    content: "";
    position: absolute;
    inset: 0 0 2px 0;
    background: #0D0D0D;
}